# Dependencies
node_modules/
frontend/node_modules/

# Builds
dist/
frontend/dist/

# Environments
.venv/
venv/
ENV/

# Large Datasets & Models
Diabetic Retinopathy 2015 Data Colored Resized/
colored_images/
*.pth
*.pt
*.csv
*.zip
*.tar.gz

# Local / OS
.DS_Store
*.log
.env.local
