# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# Virtual environments
.venv/
venv/
env/
ENV/
.env

# Jupyter & Colab
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Datasets & Large files
Diabetic Retinopathy 2015 Data Colored Resized/
colored_images/
data/
*.zip
*.tar.gz
*.csv

# Model Checkpoints & Artifacts
*.pth
*.pt
artifacts/*.pth
artifacts/*.pt
models/*.pth
models/*.pt

# OS Specific
.DS_Store
Thumbs.db
